/*--------------------------------------------------------------
# registration
--------------------------------------------------------------*/
/* Registration Section */
.registration {
  padding: 60px 0;
  background-color: #f8f9fa;
}

.text-center{
  color: #0F718A;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.registration h1 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
  color: #0F718A;
}

#registration .form-control {
  border-radius: 8px;
}

#registration label {
  color: #0F718A;
  font-weight: 600;
}

#registration button[type="text"] {
  /* background-color: #0F718A; */
  color: #0F718A;
  border: solid #0F718A 3px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#registration button[type="submit"] {
  background-color: #0F718A;
  color: #fff;
  border: solid #0F718A 1px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#registration button[type="submit"]:hover {
  background-color: #0c5b6d;
}

#registration .form-group {
  margin-bottom: 20px;
}

#registration a {
  color: #0F718A;
}

#registration a:hover {
  text-decoration: none;
  color: #0c5b6d;
}
